*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 90%;
    --container-width-md: 96%;
    --container-width-sd: 90%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: white;
    background-color: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
 h2,
  h3,
   h4,
    h5{
        line-height: 1.2;

}

h1{
   font-size: 2.4rem ; 
}

h2{
   font-size: 2rem; 
}

h3{
    font-size: 1.6rem ;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
   
  display: block;
  object-fit: cover;
}

.btn{
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

nav{
    width: 100vw;
    height: 5rem;
    position: fixed;
    margin: 0;
    z-index: 11;
}

nav button{
    display: none;
}

.nav-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}


.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a{
    font-size: 0.9rem;
    transition: all 400ms ease;
    
}

.nav_menu a:hover{
    color: var(--color-bg2);
}

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 4rem;
    
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    margin-top: 4rem;
   
}

.header_right-image img{
    width: 100%;
    border: none;
    box-shadow:  0 0 3rem rgba(0, 0, 0, 0.5);
    
}

.header_left p{
    margin: 1rem 0 2.4rem;
}

.categories{
    background: var(--color-bg1);
    height: 29rem;
    margin-top: 10rem;
   
    
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

  .categories-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: rem;
   
   justify-items: center;
}

.category_left p{
    margin: 1rem 0 3rem;
    width: 400px;
}

.category_right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    margin-right: 4rem;
}

.category{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.category_icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5{
    margin: 2rem 0 1rem;
}

.category p{
    font-size: 0.8rem;
}

.category:nth-child(2) .category_icon{
    background: var(--color-danger);
}

.category:nth-child(1) .category_icon{
    background: var(--color-success);
}

.category:nth-child(3) .category_icon{
    background: var(--color-warning);
}

.category:nth-child(4) .category_icon{
    background: var(--color-warning);
}

.category:nth-child(5) .category_icon{
    background: var(--color-success);
}

.category:nth-child(6) .category_icon{
    background: var(--color-danger);
}

.couse-image{
 width:100%;
 object-fit: cover;
}


.courses{
   margin-top: 10rem;
}

.courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin-left: 5rem;
   margin-right: 5rem;
   gap: 2rem;
   
}

.courses h1{
    text-align: center;
    margin-bottom: 5rem;
}

.course{
    text-align: center;
    background: var(--color-bg1);
    border: 1px solid var(--color-bg1); 
    transition: var(--transition);  
   
}

.course:hover{
    background: transparent;
    color: var(--color-primary);
}

.course p{
    width: 300px;
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
  
    
}

.course h4{
    width: 80%;
    margin-top: 1rem;
}

 .course .course_imfom{
   padding-bottom: 2rem;
   
}



.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}


.faq p{
    width: 400px;
    font-size: 0.9rem;
    margin-top: 0.8rem;
    display: none;
}

.faq_container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
   
}


.faq{
 padding: 2rem;
 padding-right: 0;
 cursor: pointer;
display: flex;
background: var(--color-primary);
align-items: center;
height: fit-content;
gap: 0.4rem;
}

.question_answer{
    margin-left: 2rem;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}

.faq_icon{
   align-self: flex-start; 
   margin-left: 2rem;
   font-size: 1.2rem;
}

.faq.open p{
    display: block;
}

.testmonial_container{
    overflow: hidden;
    position: relative;
    padding: 5rem;
    margin-bottom: 5rem;
}

.testmonial{
    padding-top: 2rem;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}



.avarta{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.testmonial_imfo{
    text-align: center;
}



.testmonial_body {
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    padding-right: -20px;
    position: relative;
   
}

.testmonial_body::before{
    content: "";
    display: block;
    background: linear-gradient(135deg,transparent, var(--color-primary), var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

footer{
   background: var(--color-bg1); 
   padding-top: 5rem;
   font-size: 0.9rem;
   gap: 5rem;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 2.5rem;
}

.footer_1 p{
    width: 250px;
    margin: 0 0 2rem;
}

.footer_container > div h4{
margin-bottom: 1.2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer_social{
   display: flex;
   gap: 1rem;
   font-size: 1.2rem;
   margin-top: 2rem;
   
}


@media  screen and (max-width:1024px) {
 .container{
    width: var(--container-width-md);

 }

 h1{
    font-size: 1.7rem ;
 }

 h2{
    font-size: 1.7rem;
 }

 h3{
    font-size: 1.4rem;
 }

 h4{
    font-size: 1.4rem;
 }

 nav button{
    display: inline-block;
    border: none;
    background: transparent;
    font-size: 1.9rem;
    color: white;
    cursor: pointer;
 }

 nav button#close-menu-btn{
    display: none;
 }

 .nav_menu{
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    flex-direction: column;
    gap: 0;
    width: 18rem;
    display: none;
 }

 @keyframes  animateNavItems {
    0% {
       transform: rotateZ(-90deg);

    }

    100% {
       transform: rotateZ(0);

    }
 }

    
 
 .nav_menu li{
    width: 100%;
    height: 5.8rem;
  animation: animateNavItems Is  linear forwards;
 }

 .nav_menu li a{
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
 }

 .nav_menu li a:hover{
    background: var(--color-bg2);
    color: var(--color-white);
 }

 header{
    height: 52vh;
   margin-bottom: 4rem;
 }

 .header_container{
    gap: 0;
   padding-bottom: 3rem;
 }
.categories{
    height: auto;
 }

 .categories-container{
    grid-template-columns: 1fr;
    gap: 3rem;
 }

 .category_left{
    margin-right: 0;
    margin-left: -4rem;
 }

 .category_right{
    margin-left: 2rem;
 }

 .courses{
    margin-top: 0;
 }

 .courses-container{
    grid-template-columns: 1fr 1fr;
 }

 .faq_container{
    grid-template-columns: 1fr;
 }

 .faq{
    padding: 1.5rem;
 }

 .footer_container{
    grid-template-columns: 1fr 1fr;
 }
 
    
}

@media  screen and (max-width:600px){
    .container{
        width: var(--container-width-sd);
    }
    
    .nav_menu{
        right: 3%;
    }
   
    header{
        height: 100vh;
    }

    .header_right-image img{
       margin-top: 4rem;
    }
    

    .header_container{
       grid-template-columns: 1fr; 
       text-align: center;
       margin-top: 0;
    }

    .category_right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category{
        padding: 1rem;
        border-radius: 1rem;
    }

    .category_icon{
        margin-top: 4px;
        display: inline-block;
    }

    .courses-container{
        grid-template-columns: 1fr;
    }

    .testmonial_body{
        padding: 1.2rem;
    }

    .footer_container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer_1 p{
        margin-left: 7rem;
    }

    .footer_social{
        justify-content: center;
    }
}



 









